.header {
    position: relative;
}

.video {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.center-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120px;
    font-weight: 550;
    color: white; 
    font-family: 'Great Vibes', cursive;
    padding: 10px 20px; 
    margin-top: 250px;
}
article{
    margin: 40px;
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: #E4C590;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zavtrak-photo img{
    width: 500px;
    height: auto;
    border-radius: 20px;
}
.menu-card {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
  .menu-card .badge {
    background-color: #E4C590;
    color: rgb(22,23,24);
    font-family: var(--fontFamily-bebas);
    line-height: 18px;
    text-transform: uppercase;
    margin-block-start: 10px;
  }
  
  .menu-card .span {
    color: #E4C590;
    margin-block: 10px;
  }
  .menu-card .card-text {
    color: #a6a6a6;
    line-height: 13px;
  }
  
  .menu-text .span {
    display: inline-block;
    color: #E4C590;
  }
  .menu-card .title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .title-2 {
  color: rgb(255,255,255);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 22px;

}
.title-wrapper a{
    text-decoration: none;
    color: rgba(22, 23, 24, 0.82);
    font-family: 'DM Sans', sans-serif;
}
.title-wrapper{
    margin-bottom: -20px;
}
.slider-wrapper {
  margin: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.slide-arrow {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  color:  rgba(0, 0, 0, 0.5);
  font-size:40px;
  margin-left: 10px;
  margin-right: 10px;
}
.slide-container {
  display: flex;
}
.slide{
  width: 400px;
  height: 600px;
}
.bowl{
  margin-left: 50px;
}
.bar-slide{
  width: 600px;
  height: auto;
}
@media (max-width: 480px) { 
  body{
    max-width: 480px;
  }
  .center-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 550;
    color: white; 
    font-family: 'Great Vibes', cursive;
    padding: 10px 20px;
    margin-top: 70px;
    font-size: 70px;
}
article{
  margin: 20px;
}
.title{
  font-size: 25px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
}
.zavtrak-photo img{
  width: 370px;
  height: auto;
  border-radius: 20px;
}
.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.menu-card .badge {
  background-color: #E4C590;
  color: rgb(22,23,24);
  line-height: 18px;
  text-transform: uppercase;
  margin-block-start: 5px;
}

.menu-card .span {
  color: #E4C590;
  margin-block: 10px;
}
.menu-card .card-text {
  margin-top: -15px;
  color: #a6a6a6;
  line-height: 13px;
}

.menu-text .span {
  display: inline-block;
  color: #E4C590;
}
.menu-card .title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10x;
}
.title-2 {
color: rgb(255,255,255);
font-family: 'Bebas Neue', sans-serif;
font-weight: 400;
font-size: 20px;

}
.title-wrapper a{
  text-decoration: none;
  font-size: 16px;
  color: rgba(22, 23, 24, 0.82);
  font-family: 'DM Sans', sans-serif;
}
.title-wrapper{
  margin-bottom: -20px;
}
.slider-wrapper {
margin: 15px;
position: relative;
overflow: hidden;
display: flex;
align-items: center;
}
.slide-arrow {
border: transparent;
background-color: transparent;
cursor: pointer;
font-size: 24px;
color:  rgba(0, 0, 0, 0.5);
font-size:40px;
margin-left: 10px;
margin-right: 10px;
}
.slide-container {
display: flex;
}
.slide{
  margin-left: -10px;
width: 300px;
height: 600px;
}
.bowl{
margin-left: 50px;
}
.bar-slide{
width: 0;
height: auto;
}
} 
@media (min-width: 481px) and (max-width: 767px) { 
  body{
    max-width: 767px;
  }
  .center-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 550;
    color: white; 
    font-family: 'Great Vibes', cursive;
    padding: 10px 20px;
    margin-top: 90px;
    font-size: 70px;
}
article{
  margin: 20px;
}
.title{
  font-size: 25px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
}
.zavtrak-photo img{
  width: 520px;
  height: auto;
  border-radius: 20px;
}
.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.menu-card .badge {
  background-color: #E4C590;
  color: rgb(22,23,24);
  line-height: 18px;
  text-transform: uppercase;
  margin-block-start: 5px;
}

.menu-card .span {
  color: #E4C590;
  margin-block: 10px;
}
.menu-card .card-text {
  margin-top: -15px;
  color: #a6a6a6;
  line-height: 13px;
}

.menu-text .span {
  display: inline-block;
  color: #E4C590;
}
.menu-card .title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10x;
}
.title-2 {
color: rgb(255,255,255);
font-family: 'Bebas Neue', sans-serif;
font-weight: 400;
font-size: 20px;

}
.title-wrapper a{
  text-decoration: none;
  font-size: 16px;
  color: rgba(22, 23, 24, 0.82);
  font-family: 'DM Sans', sans-serif;
}
.title-wrapper{
  margin-bottom: -20px;
}
.slider-wrapper {
margin: 15px;
position: relative;
overflow: hidden;
display: flex;
align-items: center;
}
.slide-arrow {
border: transparent;
background-color: transparent;
cursor: pointer;
font-size: 24px;
color:  rgba(0, 0, 0, 0.5);
font-size:50px;
margin-left: 10px;
margin-right: 10px;
}
.slide-container {
display: flex;
}
.slide{
  margin-left: -10px;
width: 600px;
height: 600px;
}
.bowl{
margin-left: 50px;
}
.bar-slide{
width: 0;
height: auto;
}
.card-title{
  font-size: 50px;
}
}
